* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5; /* Dark background color */
    
    background: linear-gradient(45deg, #2196F3 0%, #ffffff 50%, #FFC107 100%);
    background-size: 100% 100%;
    animation: shine 5s infinite linear; /* Shiny animation */
   
}

@keyframes shine {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.title {
    margin: 20px 0;
    font-size: 50px;
    font-family: 'Bubblegum Sans';
    font-weight: bold;
    color: #4a4a4a;
    background: linear-gradient(45deg, rgba(255, 183, 0, 0.923), rgba(33, 150, 243, 0.8));
    -webkit-background-clip: text; /* Clip text to the background gradient */
    color: transparent;
     /* Make the text transparent */
    
}

.main {
    border: 8px solid rgba(221, 221, 221, 0.4);
    border-radius: 24px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.737);
}

#name-input {
    display: flex;
    font-size: 28px;
    font-weight: 700;
    padding: 12px 20px;
   border-radius: 30px;
    color: #4a4a4a;
    background: linear-gradient(45deg, rgba(255, 183, 0, 0.923), rgba(255, 184, 0, 0.8));
    border-bottom: 2px solid rgba(221, 221, 221, 0.4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.name > span {
    color: #888;
}

.name-input {
    font-size: 24px;
    font-weight: 700;
    color: #4a4a4a;
    background: linear-gradient(45deg, rgba(255, 184, 0, 0.8), rgba(255, 183, 0, 0.923));
    flex-grow: 1;
    border: none;
    margin: 0 12px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.message-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-left,
.message-right {
    padding: 12px 20px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    list-style: none;
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-left {
    border-radius: 20px 20px 20px 0;
    align-self: flex-start;
    background-color: rgba(250, 246, 246, 0.8);
    box-shadow: 0 2px 4px rgba(9, 8, 8, 0.586);
}

.message-right {
    border-radius: 20px 20px 0 20px;
    align-self: flex-end;
    background: linear-gradient(45deg, rgba(33, 150, 243, 0.8), rgba(21, 101, 192, 0.8));
    box-shadow: 0 2px 4px rgba(9, 8, 8, 0.586);
    color: #f2f2f2;
}

.message-left > p > span,
.message-right > p > span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

.feedback {
    font-size: 14px;
    padding: 0 20px 20px 20px;
    font-style: italic;
    color: #4a4a4a;
    text-align: center;
}

.message-form {
    justify-content: space-between;
    display: flex;
    width: 400px;
    padding: 12px 20px;
    border-top: 2px solid rgba(221, 221, 221, 0.4);
}

#message-input {
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    margin: none;
    border-radius: 30px;
    outline: none;
    padding: 0 12px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(255, 184, 0, 0.8));
    
}

.send-button {
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0 20px;
    background: linear-gradient(45deg, rgba(255, 184, 0, 0.8), rgba(255, 183, 0, 0.923));
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.v-divider {
    height: 48px;
    width: 2px;
    background-color: rgba(249, 249, 249, 0.9);
}

.clients-total {
    margin: 20px 0;
    color: #4a4a4a;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
